name: Build XrmToolBox Plugin

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.5

    - name: Restore NuGet Packages
      run: nuget restore EntraSyncPlugin.csproj

    - name: Build
      run: msbuild EntraSyncPlugin.csproj /p:Configuration=Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: EntraSyncPlugin-DLL
        path: bin/Release/EntraSyncPlugin.dll
